<footer>
  <p>
    Sources:
    <a
      href="https://developer.mozilla.org/en-US/docs/Learn"
      target="_blank"
      rel="noopener noreferrer"
    >
      MDN Web Docs
    </a>
    |
    <a
      href="https://openlibrary.org/"
      target="_blank"
      rel="noopener noreferrer"
    >
      Open Library
    </a>
  </p>

  <p>
    Web API: Open Library Search API |
    Node Package: @faker-js/faker
  </p>

  <p>&copy; 2026 Ryan Perez. Academic purposes only.</p>
</footer>